.preview-action-buttons button,textarea {
    margin: 5px;
}

button {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: currentColor;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 3px;
}