html, body{
  height: 100%;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  margin:0;
}

span.active {
  background-color: gray;
}

header {
  background-color:palegreen;
  padding: 100px 0;
}

footer {
  background-color:palegreen;
  padding: 100px 0;
}

h1 {
  font-size:xxx-large;
  font-size:-webkit-xxx-large;
}

h5 {
  font-weight: 300;
}
